fastapi==0.115.12
imbalanced_learn==0.12.3
joblib==1.4.2
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
pydantic==2.11.2
scikit_learn==1.6.1
seaborn==0.13.2
SQLAlchemy==2.0.34
uvicorn==0.29.0

#http://127.0.0.1:8000/docs
#uvicorn API:app --reload

#pip install -r requirements.txt
#pip freeze > requirements.txt

#docker build -t sales-api .
#docker run -d -p 8000:8000 sales-api